	@media only screen and (max-width: 991px)
	{
		.txt-center-bb{
			text-align: center;
		}
	}

	.navbar-bg-l{
		background-color: #ccffff;
	}

	.card-bible-gary{
		border: 2px solid #d9d9d9;
		border-radius: 10px;
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 5px;
		padding-right: 15px;
	}

	.pad-r{
		/*padding-right: 5px;*/
		margin-right: 5px;
	}

	/*.pad-btn-create-l{
		margin-left: auto;
	}*/	