	@media only screen and (max-width: 991px)
	{
		.txt-center-bb{
			text-align: center;
		}

		.br-hymn{
			display: none;
		}

		.card-hymn-height{
			/*display: block;*/
			/*all: revert;*/
			height: 100% !important;
		}

		/*.card-hymn-height: unset;*/
	}

	.card-hymn-height{
		height: 356px;
	}

	.navbar-bg-l{
		background-color: #ccffff;
	}

	.txt-center-hymn{
		text-align: center;
	}

	.size-hymn-md{
		font-size: 30px;
	}

	.card-bible-gary{
		border: 2px solid #d9d9d9;
		border-radius: 10px;
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 5px;
		padding-right: 15px;
	}

	.card-hymn{
		border: 2px solid #d9d9d9;
		border-radius: 10px;
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		/*height: 350px;*/
	}

	.pad-r{
		/*padding-right: 5px;*/
		margin-right: 5px;
	}

	/*.pad-btn-create-l{
		margin-left: auto;
	}*/	

	.bible-none{
		display: none;
	}

	.hymn-used-g{
		color: #808080;
		margin-bottom: -10px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.hymn-size-lg{
		font-size: 35px;
	}

	.hymn-size-md{
		font-size: 25px;
	}

	.hymnnumber-size-lg{
		font-size: 160px;
		margin-top: -60px;
		margin-bottom: -20px;
	}

	.hymnnumber-size-md{
		font-size: 80px;
		margin-top: -27px;
	}

	.size-icon-close{
		font-size: 10px;
		margin-left: 5px;
	}